@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerif/NotoSerif_Condensed-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerif/NotoSerif_Condensed-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerif/NotoSerif_Condensed-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerif/NotoSerif_Condensed-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerif/NotoSerif_Condensed-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product Sans Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
