:root {
  --noto-serif-font: "NotoSerif";
  --product-sans-font: "ProductSans";
  --dark-black-color: #2c2c2c;
  --orange-color: #ff715b;
  --white-color: #ffffff;
  --blue-color: #2d43d2;
  --light-silver-color: #f8f8f8;
  --gray-color: #a79997;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--noto-serif-font);
}
.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.huge-container {
  max-width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--noto-serif-font);
}
